<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
      <ion-card-subtitle>{{item.category}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <p>Serial Number: {{ item.serial_number }}</p>
      <p>Description: {{ item.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
